.container-theme {
  /* border: 1px solid red; */
  padding-top: 3rem;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 3rem;
}

.container-theme p {
  font-size: 1.1rem;
}

.button-theme {
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge var(--color-second);
  outline: none;
  background-color: transparent;
  color: var(--color-text);
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.button-theme::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: var(--color-background);
  transition: 0.5s;
  transform-origin: center;
}

.button-theme::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: var(--color-background);
  transition: 0.5s;
}

.button-theme:hover::before,
button:hover::after {
  transform: scale(0);
}

.button-theme:hover {
  box-shadow: inset 0px 0px 25px var(--color-second);
}

@media (300px <= width <= 1000px) {
  .container-theme {
    flex-direction: column;
  }
}