.container-text {
  border: 1px solid red;
  width: 50%;
}

.container-image {
  border: 1px solid yellow;
  width: 50%;
}

.container-image img {
  width: 85%;
  background-color: var(--color-contrast);
  border-radius: 100%;
}
