.container-text {
  /* border: 1px solid red; */
  width: 50%;
}

.container-image {
  /* border: 1px solid yellow; */
  width: 50%;
}

.container-image img {
  width: 85%;
  background-color: var(--color-contrast);
  border-radius: 100%;
}

.container-skills {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.container-skills > div {
  display: flex;
  flex-direction: row;
}

.container-skills div > img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  border-radius: 10px;
}