.container-text {
  /* border: 1px solid red; */
  width: 50%;
  display: flex;
  gap: 1rem;
}

.container-image {
  /* border: 1px solid yellow; */
  width: 50%;
}

.container-image img {
  width: 85%;
  background-color: var(--color-contrast);
  border-radius: 100%;
}

.container-skills {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-skills > div {
  display: flex;
  flex-direction: row;
}

.container-skills img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  border-radius: 10px;
  padding: 0 0.5rem;
}

.container-skills img:hover {
  transform: scale(1.2);
}