.style-card {
  box-sizing: border-box;
  width: 20rem;
  height: 40rem;
  background: var(--color-elements);
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  /* cursor: pointer; */
  transition: all 0.5s;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  user-select: none;
  font-weight: bolder;
  color: black;
  padding: 1rem;
  border: 1px solid var(--color-background);
}

.style-card:hover {
  border: 1px solid var(--color-contrast);
  scale: 1.01;
}

.style-card > h2 {
  font-size: 1.5rem;
}

.style-card > p {
  width: 100%;
  height: 10rem;
  overflow: auto;
  font-size: 0.9rem;
  padding: 0 1rem;
}

.style-card > img {
  width: 15rem;
  height: 10rem;
  border: 2px solid var(--color-second);
  object-fit: cover;
  border-radius: 17px;
  margin-top: 1rem;
}

.container-card-tech {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.container-card-tech > img {
  width: 30px;
  height: auto;
  object-fit: contain;
}

.style-links {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  bottom: 2rem;
  left: 1rem;
}

.style-links a {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: scale 0.5s ease-in-out;
}

.style-links a:hover {
  scale: 1.05;
}

.style-links img {
  width: 1.5rem;
  height: 1.5rem;
}

@media (300px <= width <= 768px) {
  .style-card {
    width: 18rem;
  }
}