.style-card {
  box-sizing: border-box;
  width: 25rem;
  height: 45rem;
  background: var(--color-elements);
  /* border: 3px solid var(--color-text); */
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  /* cursor: pointer; */
  transition: all 0.5s;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  user-select: none;
  font-weight: bolder;
  color: black;
  padding: 1rem;
}

.style-card:hover {
  border: 1px solid var(--color-contrast);
  scale: 1.05;
}

/* .style-card:active {
  transform: scale(0.95) rotateZ(1.7deg);
} */

.style-card > img {
  width: 20rem;
  height: 15rem;
  border: 2px solid var(--color-second);
  object-fit: cover;
  border-radius: 17px;
  margin-top: 1rem;
}

.style-card {
  text-align: left;
}

.style-links {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  bottom: 2rem;
  left: 1rem;
}

.style-links a {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.style-links a:hover {
  scale: 1.1;
}

.style-links img {
  width: 2rem;
  height: 2rem;
}
