.container-projects {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 1rem 0;
}

.container-title-projects > h3 > span {
  font-family: var(--title);
  color: var(--color-text);
}

.container-buttons {
  display: flex;
  gap: 2rem;
}

.button-type {
  background-color: var(--color-third);
  /* border: none; */
  padding: 0.5rem;
  font-size: 1rem;
  width: 6rem;
  border-radius: 1rem;
  color: var(--color-contrastd);
  box-shadow: 0 0.2rem var(--color-second);
  cursor: pointer;
  color: var(--color-text);
}

.button-type:active {
  color: var(--color-background);
  box-shadow: 0 0.2rem var(--color-background);
  transform: translateY(0.4rem);
}

.button-type:hover:not(:disabled) {
  background: var(--color-contrast);
  color: var(--color-elements);
  font-weight: bold;
  /* text-shadow: 0 0.1rem var(--color-text); */
}

.selectedButton {
  background-color: red;
}

#select-tech {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: var(--color-elements);
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
  color: var(--color-text);
  opacity: 0.7;
  font-size: 1rem;
  font-weight: bold;
}

#select-tech > option {
  font-weight: bold;
}

#select-tech:focus {
  background-color: var(--color-text);
  opacity: 1;
  color: var(--color-elements);
  font-weight: bold;
  transform: scale(1.05);
  box-shadow: 13px 13px 90px #969696,
             0px 0px 100px var(--color-contrast);
}
