.container-SocialMedia {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: var(--color-elements);
  /* border: 3px solid var(--color-text); */
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  /* cursor: pointer; */
  transition: all 0.5s;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  user-select: none;
  font-weight: bolder;
  padding: 1rem;
  color: var(--color-contrast);
  font-size: 1.5rem;
  font-weight: bolder;
}

.container-principal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.container-principal > ul > li {
  display: flex;
  align-items: flex-start;
  align-items: center;
  gap: 0.3rem;
  font-size: 1.3rem;
}

.container-principal > ul img {
  width: 5%;
}

.container-link img {
  width: 25rem;
  height: auto;
  border-radius: 5px;
}
