.container-page-skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-skills {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  animation: zoomIn 0.5s ease-out forwards;
}

.card-skill {
  box-sizing: border-box;
  width: 20rem;
  height: 5rem;
  background: var(--color-elements);
  /* border: 3px solid var(--color-text); */
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  /* cursor: pointer; */
  transition: all 0.5s;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  user-select: none;
  font-weight: bolder;
  padding: 1rem;
  color: var(--color-contrast);
  font-size: 1.5rem;
  font-weight: bolder;
}

.card-skill > img {
  width: 15%;
}

@media (300px <= width <= 500px) {
  .container-page-skills {
    margin-top: 5rem;
  }
}