:root {
  --color-first: #e8c1a4;
  --color-second: #83cdd8;
  --color-third: #31536e;

  --color-background: #3e4655;
  --color-elements: #2B2E35;
  --color-contrast: #E88997;

  --color-text: white;

  --title: "Lobster", cursive;
  --text: "Nunito", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  color: inherit;
  transition: all 0.5s ease-in-out;
  font-weight: lighter;
  font-family: var(--text);
}

h1 {
  font-family: var(--title);
  color: var(--color-first);
  font-size: 4rem;
  /* background-color: var(--color-third);
  position: absolute;
  top: 12%;
  left: -10%;
  z-index: 3;
  padding: 1rem;
  
  border-radius: 50px; */
}

/* h1::before {
  content: "";
  background-image: url(/background-pattern.png);
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: 10rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  opacity: 5%;
  height: 100%;
  border-radius: 50px;
} */

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--color-contrast);
}

h3 {
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--color-second);
}

p {
 color: var(--color-text);
}

li {
  list-style: none;
}

header {
  display: flex;
  align-items: center;
  padding: 0 3rem;
  width: 100%;
  height: 8vh;
  background-color: var(--color-elements);
}

.flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  min-height: 92vh;
  background-color: var(--color-background);
  padding: 2rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
