.container-text-principal {
  text-align: justify;
  font-size: 1.1rem;
  animation: zoomIn 0.5s ease-out forwards;
  /* border: 1px solid red;  */
}

.container-text-principal > p > span {
  font-size: 3rem;
  font-family: var(--title);
}

.container-cards {
  display: flex;
  gap: 5rem;
}

.container-socialMedia {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* .container-socialMedia > div:hover {
  transform: scale(1.02);
  border: 1px solid var(--color-text)
} */

.image-cat {
  width: 20%;
  border-radius: 100%;
  background-color: var(--color-third);
  border: 5px solid var(--color-third);
  transition: box-shadow 0.5s ease-in-out;
}

.image-cat:hover {
  box-shadow: 0px 0px 102px -22px var(--color-contrast);
}

.container-hera {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}

/* .container-hera > p {
  width: 200%;
} */

.container-hera div {
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-hera div a {
  display: flex;
  justify-content: center;
}

@media (300px <= width <= 1134px) {
  .container-cards {
    display: none;
  }

  .container-socialMedia {
    width: 85%;
  }

  .container-hera {
    flex-direction: column;
  }
  
  .container-hera div {
    padding-top: 20px;
  }
}