.container-text-principal {
  text-align: justify;
}

.container-cards {
  /* border: 1px solid red; */
  display: flex;
  gap: 5rem;
}

.container-socialMedia {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.container-socialMedia > div:hover {
  transform: scale(1.02);
  border: 1px solid var(--color-text)
}

.image-cat {
  width: 20%;
  border-radius: 100%;
  background-color: var(--color-third);
  border: 5px solid var(--color-third);
  /* box-shadow: 2px 20px red ; */
}
